
@{
    Layout = null;
}

<!DOCTYPE html>
@using Shop.Model
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
    <title>ListView</title>*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta content="telephone=no" name="format-detection">
    <title>Hs</title>
    <link href="~/Common/css/Cbase.css" type="text/css" rel="stylesheet">
    <link href="~/Common/css/index.css" type="text/css" rel="stylesheet">
    <link href="~/Common/css/swiper.min.css" type="text/css" rel="stylesheet">
    <script src="~/Common/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Common/js/base.js" type="text/javascript"></script>
    <script src="~/Common/js/swiper.min.js" type="text/javascript"></script>
    <script src="~/Common/js/index.js" type="text/javascript"></script>
    <script src="~/Common/js/jquery-1.8.0.js"></script>
    @*<script>
        $(function () {
            $(".btn_List").click(function () {
                var myID = $(this).attr("dataid");
                //alert(myID);
                $.ajax({
                    type: "post",
                    url: "@Url.Action("Index","Concent")",
                    data: { "myID": myID },
                    success: function (data) {
                        //$("#myconcent").html(data);
                        alert(data);
                    }
                })
            })
        })
    </script>*@
</head>

<body>
   @{ Html.RenderAction("ProSearch", "ProductSort");}
<div class="search_list">
    <p><a class="on" id="btn_result"><span >综合</span></a><a id="btn_liang"><span >销量</span></a><a id="btn_ping"><span >评价</span></a><a id="btn_price"><span class="bg" >价格</span></a></p>
    <ul id="_result" style="display:block">
        @foreach (product item in ViewBag._Products as List<product>)
            {
            <li>
                <a href="~/Concent/Index?id=@item.PCode" class="btn_List" dataid="@item.PCode">
                    
                    
                     <img src="~/Common/images/@item.PImages.Split(',')[0]">
                    <div class="search_item">
                       
                            <p>@item.PName</p>
                           
                            <h2><i>￥</i><b>@item.Price</b><span>@item.PTime</span></h2>
</div>
                </a>
            </li>
           
        }
        </ul>
   
    <ul id="_liang" style="display:none">
        @foreach (product item in ViewBag._Products as List<product>)
            {
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/@item.PImages.Split(',')[0]">
                    <div class="search_item">
                        <p>@item.PName</p>
                        <h2><i>￥</i><b>@item.Price</b><span>@item.PTime</span></h2>
                    </div>
                </a>
            </li>

        }
    </ul>
    <ul id="_ping" style="display:none">
        @foreach (product item in ViewBag.Timeinfo as List<product>)
            {
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/@item.PImages.Split(',')[0]">
                    <div class="search_item">
                        <p>@item.PName</p>
                        <h2><i>￥</i><b>@item.Price</b><span>@item.PTime</span></h2>
                    </div>
                </a>
            </li>

        }
    </ul>
    <ul id="_price" style="display:none">
        @foreach (product item in ViewBag._Products as List<product>)
            {
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/@item.PImages.Split(',')[0]">
                    <div class="search_item">
                        <p>@item.PName</p>
                        <h2><i>￥</i><b>@item.Price</b><span>@item.PTime</span></h2>
                    </div>
                </a>
            </li>

        }
    </ul>

        <script>
            $(function () {
                document.getElementById("btn_result").onclick = function () {
                    document.getElementById("_result").style.display = "block";
                    document.getElementById("_liang").style.display = "none";
                    document.getElementById("_ping").style.display = "none";
                    document.getElementById("_price").style.display = "none";
                    document.getElementById("btn_result").className = "on";
                    document.getElementById("btn_liang").className = "";
                    document.getElementById("btn_ping").className = "";
                    document.getElementById("btn_price").className = "";

                }
                document.getElementById("btn_liang").onclick = function () {
                    document.getElementById("_result").style.display = "none";
                    document.getElementById("_liang").style.display = "block";
                    document.getElementById("_ping").style.display = "none";
                    document.getElementById("_price").style.display = "none";
                    document.getElementById("btn_result").className = "";
                    document.getElementById("btn_liang").className = "on";
                    document.getElementById("btn_ping").className = "";
                    document.getElementById("btn_price").className = "";

                }
                document.getElementById("btn_ping").onclick = function () {
                    document.getElementById("_result").style.display = "none";
                    document.getElementById("_liang").style.display = "none";
                    document.getElementById("_ping").style.display = "block";
                    document.getElementById("_price").style.display = "none";
                    document.getElementById("btn_result").className = "";
                    document.getElementById("btn_liang").className = "";
                    document.getElementById("btn_ping").className = "on";
                    document.getElementById("btn_price").className = "";

                }
                document.getElementById("btn_price").onclick = function () {
                    document.getElementById("_result").style.display = "none";
                    document.getElementById("_liang").style.display = "none";
                    document.getElementById("_ping").style.display = "none";
                    document.getElementById("_price").style.display = "block";
                    document.getElementById("btn_result").className = "";
                    document.getElementById("btn_liang").className = "";
                    document.getElementById("btn_ping").className = "";
                    document.getElementById("btn_price").className = "on";

                }
            })
            </script>
        @*<li>
                <a href="product_xq.html">
                    <img src="~/Common/images/img_010.jpg">
                    <div class="search_item">
                        <p>云南特级冬虫夏草云南特级冬虫夏草</p>
                        <h2><i>￥</i><b>185.00</b><span>月销18252笔</span></h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/img_03.jpg">
                    <div class="search_item">
                        <p>云南特级冬虫夏草</p>
                        <h2><i>￥</i><b>185.00</b><span>月销18252笔</span></h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/img_010.jpg">
                    <div class="search_item">
                        <p>云南特级冬虫夏草</p>
                        <h2><i>￥</i><b>185.00</b><span>月销18252笔</span></h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/img_010.jpg">
                    <div class="search_item">
                        <p>云南特级冬虫夏草</p>
                        <h2><i>￥</i><b>185.00</b><span>月销18252笔</span></h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/img_010.jpg">
                    <div class="search_item">
                        <p>云南特级冬虫夏草</p>
                        <h2><i>￥</i><b>185.00</b><span>月销18252笔</span></h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="product_xq.html">
                    <img src="~/Common/images/img_010.jpg">
                    <div class="search_item">
                        <p>云南特级冬虫夏草</p>
                        <h2><i>￥</i><b>185.00</b><span>月销18252笔</span></h2>
                    </div>
                </a>
            </li>*@
   
</div>

<script>
    $(".search_list ul li a img").each(function(){
        var w = $(this).width();
        $(this).height(w+"px");
    })

        </script>
</body>
</html>
